@import url('https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P');

body {
    background: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

p {
    font-family: 'Open Sans', sans-serif;
}